.ui-steps.steps-custom {
    margin-bottom: 30px;
    width: 100px;
    background-color: #c2001a;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
    width: 80px;
    overflow: visible;
    width: 100px;
    background-color: #c2001a;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: #c2001a;
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
    width: 100px;
    background-color: #c2001a;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #023e99;
    width: 100px;
    background-color: #c2001a;
}